<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Equestrian Rating</title>
</head>

<body>
    <header>
        <div class="container">
            <ul>
                <li>Конкур</li>
                <li>Выездка</li>
                <li>Троеборье</li>
            </ul>
        </div>
    </header>
    <section>
        {% block header %}{% endblock %}
    </section>
    <section>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
