<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Equestrian Rating</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="main-header">
        <div class="container">
            <nav class="menu main-menu">
                <ul>
                    <li><a href="/jumping/">Конкур</a></li>
                    <li><a href="/dressage/">Выездка</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <nav class="menu">
                {% include "sub_header_list.html" %}
            </nav>
        </div>
    </header>
    <section>
        {% block header %}{% endblock %}
    </section>
    <section>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>
