{% extends "./base.html" %}
{% block header %}
<h2>{{discipline.name}} - {{standard.name}}</h2>
<h3>{{standard.description}}</h3>
{% endblock %}
{% block content %}
<table class="results">
    <tr>
        <th>№</th>
        <th>Дата</th>
        <th>ФИО спорстмена</th>
        <th>Лошадь</th>
        <th>Клуб</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{result.date|date:'Y-m-d'}}</td>
        <td>{{result.athlete_name}}</td>
        <td>{{result.horse_name}}</td>
        <td>{{result.club_name}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}