{% extends "./base.html" %}
{% block content %}
<table>
    <tr>
        <th>№</th>
        <th>Дата</th>
        <th>ФИО спорстмена</th>
        <th>Лошадь</th>
        <th>Результат</th>
        <th>Клуб</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{result.number}</td>
        <td>{result.date}</td>
        <td>{result.rider_name}</td>
        <td>{result.horse_name}</td>
        <td>{result.result}</td>
        <td>{result.club_name}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}